.test-form {
    max-width: 70%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f9fa;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
}

.test-form label {
    display: inline-block;
    margin-bottom: 10px;
    font-weight: bold;
    vertical-align: middle;
}

.test-form input[type="text"] {
    display: inline-block;
    padding: 10px;
    border: 1px solid #d3d3d3;
}

.test-form .quiz-container {
    position: relative;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
}

.test-form .quiz-container h3 {
    margin-bottom: 10px;
}

.test-form .delete-quiz-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #dc3545;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    transition: background-color 0.3s ease;
}

.test-form .delete-quiz-btn:hover {
    background-color: #c82333;
}

.test-form .add-quiz-btn {
    transition: background-color 0.3s ease;
}

.test-form .add-quiz-btn:hover {
    background-color: rgb(21, 83, 21);
}

/* .test-form button[type="submit"] {
    margin-right: 15%;
    margin-top: 20px;
    float: right;
    padding: 10px 20px;
    background-color: #4285f4;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.test-form button[type="submit"]:hover {
    background-color: #225ebe;
} */
.test-form input[name="question"] {
    width: 600px;
}

.test-form .datetime-picker {
    display: flex;
    align-items: center;
    justify-content: end;
}
