.login-layout {
    height: 100%;
}

.login-img {
    height: 100%;
    background-image: url("../images/B1-SoICT-Cover-Web.jpg");
    background-size: cover;
}

.login-form {
    max-width: 300px;
    width: 100%;
}

.login-container {
    background-color: aliceblue;
}

.login-form-forgot {
    float: right;
}

.ant-col-rtl .login-form-forgot {
    float: left;
}

.login-form-button {
    width: 100%;
}
