.quiz-form {
  max-width: 100%;
  margin: 0;
}

.question-label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-weight: bold;
}

.question-label span {
  flex: 0 0 auto;
  margin-right: 5px;
}

.quiz-form input[name="question"] {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 700px; /* Adjust the width as desired */
}

.quiz-form input[type="text"],
.quiz-form input[type="checkbox"] {
  margin-right: 5px;
}

.quiz-form input[type="text"] {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.option-container {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.option-label {
  display: flex;
  align-items: center;
  flex: 1;
}

.option-checkbox {
  margin-right: 5px;
}

.option-input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.delete-option-btn {
  margin-top: -20px;
  margin-left: 10px;
  padding: 4px 8px;
  background-color: #f44336;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add-option-btn {
  margin-top: 10px;
  padding: 6px 12px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add-option-btn:hover,
.delete-option-btn:hover {
  opacity: 0.8;
}


.submit-btn:hover {
  opacity: 0.8;
}
